@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


h1{
    color: rgb(0, 0, 0);
    
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;  
    background-color: #ffffff;
    color: #000000;
}
header{
    background-color: #000000;
    /* border-bottom: 1px solid #021474; borda da nav*/

}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: rgb(17, 17, 17);
    border: 2px solid rgb(75, 75, 75);

}

.btn-primary:hover{
    background-color: rgb(75, 75, 75);
    border: 2px solid rgb(75, 75, 75);
}

.navbar{
    justify-content: space-between;
    background-color: black;
    position: inherit;
    padding: 5px 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navbar img{
    width: 40px;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-nav li a:hover {
    font-weight: bold;
    color: #ffffff;
}

#search-container{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

#products-container{
    padding: 50px;
}

#products-container h2{
    margin-bottom: 10px;
}

#products-container .subtitle{
    columns: #242323;
    margin-bottom: 30px;
}

#products-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 10px;
    margin: .5px;
}

#products-container img{
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: #727272;
}

.card .card-qtd{
    font-size: 12px;
    color: #727272;
}

.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* footer */

footer{
    text-align: center;
    background-color: #212121;
    color: #ffffff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    margin-bottom: 0;
}


#cadastro-create-container{
    padding: 30px;
    width: 1000px;
    margin: 0 auto;
    
}

#cadastro-create-container label{
    font-weight: bold;
}

#cadastro-create-container input{
font-size: 12px;
margin: 5px;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #aff0be;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}